nvim/db_ui/connections.json
nvim/db_ui/*.db
nvim/db_ui/*.sqlite
nvim/db_ui/*.sqlite3
gh
ngrok
.android
swiftpm
.env.*
.env
/nvim/.env
gh

.gemini/
gha-creds-*.json
.github/
!.github/workflows/
!.github/workflows/validate-opencode.yml
!.github/workflows/check-merge-conflicts.yml
.opencode/dist
opencode/.reports
opencode/dist
opencode/logs
snyk/

# opencode memory database
opencode/memory/db/*.db
